@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Mina|Akronim|Bad+Script|Caveat|Comfortaa|Montserrat|Pangolin|Roboto|Underdog');
font-family: 'Jura', 'Didact Gothic', 'Roboto', sans-serif;
font-family: 'Montserrat', 'Comfortaa', sans-serif;
font-family: 'Mina', sans-serif;
