.quiz-container {
    position: fixed;
    top:20%;
    bottom:10%;
    left:8%;
    right:8%;
    border:solid 1px white;
    overflow:auto;
    padding: 10px 20px;
}
.quiz-container-actions {
    position: fixed;
    height:50px;
    bottom:10%;
    left:8%;
    right:8%;
    border:solid 1px white;
}
.quiz-container-question {
    position: fixed;
    top:10%;
    height:auto;
    left:8%;
    right:8%;
    border:solid 1px white;
    padding: 10px 20px;
}
.badge {
    margin: 18px 20px 5px 20px;
}
.text--shadow {
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000aa;
}
