.section-container {
	top:90px;
	padding: 10px 20px 20px;
}
.select-post-topic {
	top:95px!important;
	max-height:70%!important;
}
.snippet {
  margin-left: -50px;
  color: var(--codeSnippetColor);
}
