@charset "utf-8";
.slideDown-enter-active { animation: show-item-down 1s forwards }
.slideDown-leave-active { animation: hide-item-down 1s forwards }

@keyframes show-item-down {
    0% { margin-top: 40px; opacity: 0; }
  100% { margin-top:0; opacity:1; }
}
@keyframes hide-item-down {
    0% { margin-top: 0px; opacity:1; }
  100% { margin-top: 40px; opacity: 0; }
}
/*
.slideUp-enter, .slideUp-leave-to { transition: all 0.2s; opacity:0; }
.slideUp-enter-to, .slideUp-leave { transition: all 0.2s; opacity:1; }
*/
.slideUp-enter-active { animation: show-item-up 1s forwards }
.slideUp-leave-active { animation: hide-item-up 1s forwards }

@keyframes show-item-up {
    0% { margin-top: -40px; opacity: 0; }
  100% { margin-top:0; opacity:1; }
}
@keyframes hide-item-up {
    0% { margin-top: 0px; opacity:1; }
  100% { margin-top: -40px; opacity: 0; }
}

.slideLeft-enter-active { animation: show-item-left 1s forwards }
.slideLeft-leave-active { animation: show-item-left reverse 1s forwards }

@keyframes show-item-left {
    0% { margin-left: -30%; margin-top: -30%; opacity: 0; }
  100% { margin-left:10px; margin-top: 10px; opacity:1; }
}
@keyframes hide-item-left {
    0% { margin-left: 10px; opacity:1; }
  100% { margin-left: -30%; opacity: 0; }
}

.slideRight-enter-active { animation: show-item-right 1s forwards }
.slideRight-leave-active { animation: hide-item-right 1s forwards }

@keyframes show-item-right {
    0% { margin-right: -30%; opacity: 0; }
  100% { margin-right:20px; opacity:1; }
}
@keyframes hide-item-right {
    0% { margin-right: 20px; opacity:1; }
  100% { margin-right: -30%; opacity: 0; }
}

.slideRotate-enter-active { animation: show-item-rotate 1s forwards }
.slideRotate-leave-active { animation: hide-item-rotate 1s forwards }

@keyframes show-item-rotate {
    0% { transform: rotate(270deg); opacity: 0; }
  100% { transform: rotate(0deg); opacity:1; }
}
@keyframes hide-item-rotate {
    0% { transform: rotate(0deg); opacity:1; }
  100% { transform: rotate(270deg); opacity: 0; }
}
.roll-down-enter, .roll-down-enter-active {
  animation: mc-roll-down 2s forwards;
}
.roll-down-enter-active:before {
  content: "\270B";
  font-size:30px;
  color:blue;
}
.roll-down-leave, .roll-down-leave-active {
  animation: mc-roll-down reverse 2s forwards;
}
@keyframes mc-roll-down {
    0% { height: 0; opacity:0; }
  100% { height: 300px; opacity: 1; }
}
