    o { _uid: 3, _isVue: true, $options: {…}, _renderProxy: o, _self: o, … }
    $attrs: (...)
    $children: []
    $createElement: ƒ (e,t,n,r)
    $el: div.container$listeners: (...)
    $options: { parent: o, _parentVnode: le, _parentElm: null, _refElm: null, propsData: {…}, … }
    $parent: o { _uid: 2, _isVue: true, $options: {…}, _renderProxy: o, _self: o, … }
    $refs: {}
    $root: hn { _uid: 1, _isVue: true, $options: {…}, _renderProxy: hn, _self: hn, … }
    $scopedSlots: {}
    $slots: {}
    $vnode: le {tag: "vue-component-104-card-template", data: {…}, children: undefined, text: undefined, elm: div.container, …}
    defaultPicture: (...)
    elem: (...)
    elemHeight: (...)
    elemWidth: (...)
    offsetTop: (...)
    onScroll: ƒ ()
    picture: (...)
    pictureSize: (...)
    rootSection: (...)
    rootStyles: (...)
    styles: (...)
    text: (...)
    winHeight: (...)
    winWidth: (...)
    _c: ƒ (e,t,n,r)
    _data: {…}
    _directInactive: false_events: {}
    _hasHookEvent: false
    _inactive: null
    _isBeingDestroyed: false
    _isDestroyed: false
    _isMounted: true
    _isVue: true
    _props: {}
    _renderProxy: o { _uid: 3, _isVue: true, $options: {…}, _renderProxy: o, _self: o, … }
    _self: o { _uid: 3, _isVue: true, $options: {…}, _renderProxy: o, _self: o, … }
    _staticTrees: null
    _uid: 3
    _vnode: le { tag: "div", data: {…}, children: Array(3), text: undefined, elm: div.container, … }
    _watcher: St { vm: o, sync: false, lazy: false, user: false, deep: false, …}
    _watchers: [St]
    $data: (...)
    $isServer: (...)
    $props: (...)
    $ssrContext: (...)
    get $attrs: ƒ ()
    set $attrs: ƒ (e)
    get $listeners: ƒ ()
    set $listeners: ƒ (e)
    get defaultPicture: ƒ ()
    set defaultPicture: ƒ (e)
    get elem: ƒ ()set elem: ƒ (e)
    get elemHeight: ƒ ()
    set elemHeight: ƒ (e)
    get elemWidth: ƒ ()
    set elemWidth: ƒ (e)
    get offsetTop: ƒ ()
    set offsetTop: ƒ (e)
    get pictureSize: ƒ ()
    set pictureSize: ƒ (e)
    get rootSection: ƒ ()
    set rootSection: ƒ (e)
    get rootStyles: ƒ ()
    set rootStyles: ƒ (e)
    get styles: ƒ ()
    set styles: ƒ (e)
    get winHeight: ƒ ()
    set winHeight: ƒ (e)
    get winWidth: ƒ ()
    set winWidth: ƒ (e)
    __proto__: hn
