<p>Создать динамический компонент:</p>

<pre class="code-snippet">
&lt;component :is="currentComponent">
&lt;/component>
</pre>

<p>где currentComponent - это переменная, т.е. вы можете дать 
этой переменной любое другое имя</p>

<p>Тег &lt;component> является плейсхолдером, 
который "греет место" для какого-то компонента</p>
<p>На самом деле этому динамическому компоненту до лампочки, кому он 
греет место - он уступит это место любому компоненту, чье имя 
магическим образом попадет в переменную currentComponent</p>

<p>Это означает, что в процессе мы можем переключаться 
с одного компонента на другой, меняя значение currentComponent</p>
<p>Вот так все easy</p>
