<p>Создать динамический компонент:</p>

<pre class="code-snippet">
&lt;component :is="currentComponent">
&lt;/component>
</pre>

<p>где <var_names>currentComponent</var_names> - это переменная, т.е. вы можете дать
этой переменной любое другое имя</p>

<p>Тег <spec_words>&lt;component></spec_words> является плейсхолдером,
который "греет место" для какого-то компонента</p>
<p>На самом деле этому динамическому компоненту до лампочки, кому он
греет место - он уступит это место любому компоненту, чье имя
магическим образом попадет в переменную <var_names>currentComponent</var_names></p>

<p>Это означает, что в процессе мы можем переключаться с одного компонента на другой,
меняя значение <var_names>currentComponent</var_names></p>
<p>Вот так все easy</p>
